@media screen and (min-width: 400px) {
     body {
        background-color: black;
        font-family: sans-serif;
        text-align: left;
    }
    
    p{
        color: white;
        font-size: 3em;
    }
    
    h1 {
        color: orange;
    } 

}